@import './fonts';

:root {
  --default-font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  font-family: var(--default-font-family);
}

body.lock {
  overflow: hidden;
  touch-action: none;
}
