@import './reset';
@import './fonts';

:root {
  --default-font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
  --red: #ec5937;
  --green: #80bb00;
  --brown: #4e3000;
  --white: #fff;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  font-family: var(--default-font-family);
}

body.lock {
  overflow: hidden;
  touch-action: none;
}
